*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav{
    position: absolute;
    top: 0;
    right: 0;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
    padding: 10px 7px;
    font-family: arial;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header nav ul li a:hover{
    text-decoration: underline;
}

.main-homepage main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

main .container .imagen{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

main .container .search-box{
    height: 50px;
}

main .container .search-box input{
    width: 500px;
    height: 40px;
    border-radius: 15px;
    position: absolute;
    margin-left: -100px;
}

main .container .search-box i {
    position: relative;
    top: 10px;
    left: -90px;
}

main .container .action-buttons{
    margin: 10px 0;
}

main .container .action-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .container button{
    margin: 0 15px;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 30px;
    background-color: #ccc;
}

footer nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav .section-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

footer nav .section-1 a{
    display: block;
    text-decoration: none;
    margin: 10px 7px;
    color: #1e1e1e;
}

footer nav .section-1 a:hover{
    text-decoration: underline;
}

footer nav .section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

footer nav .section-2 a{
    display: block;
    text-decoration: none;
    margin: 10px 7px;
    color: black;
}

footer nav .section-2 a:hover{
    text-decoration: underline;
}



/* --- search results page --- */

header .container-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

header .container-input .imagen {
    width: 150px;
    padding-bottom: 40px;
}

header .container-input .imagen img{
    width: 95px;
}

header .container-input .search-field{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin-left: -300px;
}

header .container-input .search-field input{
    width: 650px;
    /*margin-left: -230px;*/
    height: 35px;
    border-radius: 15px;
    margin-bottom: 20px;
}

header .container-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header .container-links ul a{
    text-decoration: none;
    display: block;
    padding: 10px 15px 0px 0px;
    color: black;
}

header .container-input .drive img{
    width: 30px;
}

header .container-input .drive{
    padding-bottom: 40px;
}

header p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    margin-left: 210px;
}

/* --- main --- */

.main-results .first-result{
    width: 652px;
    margin-left: 17%;
    margin-top: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding: 16px;
}

.main-results .first-result h1{
    font-size: 20px;
}


.main-results .others{
    width: 652px;
    margin-left: 17%;
    margin-top: 20px;
    padding: 16px;
}

.main-results .others h1{
    font-size: 20px;
}

.main-results .first-result.video{
    display: flex;
    justify-content: center;
     align-items: center;
}

.main-results .video-result{
    width: 212px;
    height: 301px;
    border: 1px solid black;
    padding: 4px;
}

.main-results .first-result .video-result > .video-image{
    width: 205px;
    height: 115px;
    border: 1px solid orange;
}

.main-results .first-result .video-result h2{
    font-size: 16px;
    width:178px;
    padding-right: 15px;
}



/* --- main --- */
/* --- search results page --- */